<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<header class="header-area header-sticky" th:fragment="body-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav custom-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <!-- <img src="//images/logo.png" alt=""> -->
                        <h1 class="logo-text">OE</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** 식당검색 ***** -->
                    <!--                    <div class="search-input">-->
                    <!--                      <form id="search" action="#">-->
                    <!--                        <input type="text" placeholder="식당검색" id='searchText' name="searchKeyword" onkeypress="handle" />-->
                    <!--                        <i class="fa fa-search"></i>-->
                    <!--                      </form>-->
                    <!--                    </div>-->
                    <!-- ***** 식당검색 End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li>
                            <a href="/member/login" sec:authorize="isAnonymous()">로그인</a>
                        </li>
                        <li>
                            <a href="/member/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>
                        <li>
                            <a href="/"><i class="fi fi-br-menu-burger fa-2x"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>