<header class="header-area header-sticky" th:fragment="bodyHeader">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <!-- <img src="//images/logo.png" alt=""> -->
                        <h1 class="logo-text">오더 앤 잇</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** 식당검색 ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="식당검색" id='searchText' name="searchKeyword" onkeypress="handle" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** 식당검색 End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="active">HOME</a></li>
                        <!--                        <li><a href="browse.html">식당 정보</a></li>-->
                        <!--                        <li><a href="details.html">Details</a></li>-->
                        <!--                        <li><a href="streams.html">Streams</a></li> -->
                        <li><a href="/showMemberInfo">회원 정보<img src="//images/profile-header.jpg" alt=""></a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>