@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body{
    color: whitesmoke;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

.logo-text{
    color: #e75e8d;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
}

.fi-br-menu-burger{
    size: 50px;
    color:#e75e8d;
    position: relative;
    bottom: 5px;
}

.fi{
    position: relative;
    left: 14px;
}

.main-list{
    display: flex;
}

.main-list-item{
    padding: 50px;
}
