<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header"></head>

<body>
<!--   ***** Preloader Start *****-->
<!--  <div id="js-preloader" class="js-preloader">-->
<!--    <div class="preloader-inner">-->
<!--      <span class="dot"></span>-->
<!--      <div class="dots">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--   ***** Preloader End *****-->

<!-- ***** Header Area Start ***** -->
<header th:replace="fragments/body-header :: body-header">
</header>
<!-- ***** Header Area End ***** -->
  <!-- Container start-->
  <div th:text="${user}"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content" style="display: flex; justify-content: center; align-items: center">
          <ul class="main-list" style="padding-left: 10px">
            <li class="main-list-item">
              <a href="/store/add"><i class="fi fi-rr-add fa-4x" style="color: whitesmoke"></i></a>
              <div class="main-link-text add-store-text">업체 신규 등록</div>
            </li>
            <li class="main-list-item">
              <a href=""><i class="fi fi-rr-home fa-4x" style="color: whitesmoke"></i></a>
              <div class="main-link-text my-store-text" style="padding-right: 2px">나의 업체 보기</div>
            </li>
            <li class="main-list-item">
              <a href=""><i class="fi fi fi-rr-document fa-4x" style="color: whitesmoke"></i></a>
              <div class="main-link-text store-order-text">주문 관리하기</div>
            </li>
            <li class="main-list-item">
              <a href=""><i class="fi fi-rr-interrogation fa-4x" style="color: whitesmoke"></i></a>
              <div class="main-link-text store-order-text" style="padding-left: 8px">도움말 보기</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- Container end-->
  <!-- footer -->
  <footer th:replace="fragments/footer :: footer"></footer>
  <!-- footer end -->
  </body>
</html>