<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>회원가입 성공</title>
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style type="text/css">
        .layer{
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            font-size: 50px;
        }
        .layer .content{
            display: inline-block;
            vertical-align: middle;
        }
        .layer .blank{
            display: inline-block;
            width:0;
            height: 100%;
            vertical-align: middle;
        }
    </style>
</head>


<body>
<div class="layer">
    <div class="content">
        <img src="/images/greenCheck.png" style="width:50px" alt="">
        <h2>오더 앤 잇 회원가입을 축하드립니다!</h2>
        <a href="/member/login">로그인 하러 가기</a>
    </div>
    <span class="blank"></span>
</div>
</body>

</html>